p {
    font-family: 'Lucida Console', sans-serif;
    font-size: 20px;
    color: #CD853F; /* Färg på texten */
}
.paragraph-grupp {
    margin-bottom: 40px; !important;
}

body {
    background-color: #FAEBD7;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e0/K_Boye.jpg"); /* Länk till din bakgrundsbild */
    background-size: 50%; /* Gör att bilden täcker hela området */
    background-blend-mode: overlay; /* Blandar färgen och bilden */
    background-repeat: no-repeat; /* Gör att bilden inte upprepas */
    background-position: center 3px; /* Centrerar bilden */
}
#flytta-ned {
    margin-top: 80px;
}
h1 {
    font-family: 'Lucida Console', sans-serif;
    font-size: 40px;
    color: #FFF5EE;  
    text-align: left;
    margin-top: 20px;
   
    
}
h3 {
    font-family: 'Lucida Console', sans-serif;
    font-size: 30px;
    color: #CD853F; /* Färg på texten */
    text-align: left;
    margin-top: 20px;
}
.container {
    display: inline-block; /* Gör att behållaren är inline-block */
    width: 25%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    background-color: #B8860B; /* Bakgrundsfärg för behållaren */ 
    background-position: left; /* Positionerar bakgrundsfärgen till vänster */
    border-radius: 10px; /* Rundade hörn */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Skugga */
    opacity: 0.3; /* Gör behållaren lite genomskinlig */
}
.button {
    display: inline-block; /* Gör att knappen är inline-block */
    padding: 10px 20px; /* Padding för knappen */
    background-color: #8B4513; /* Bakgrundsfärg för knappen */
    color: #FFF5EE; /* Textfärg för knappen */
    text-decoration: none; /* Ingen understrykning på länken */
    border-radius: 5px; /* Rundade hörn på knappen */
    transition: background-color 0.3s ease; /* Övergångseffekt för bakgrundsfärgen */
    font-family: 'Lucida Console', sans-serif; /* Typsnitt för knappen */
}